@using Microsoft.AspNetCore.Components.Web
@using WalymossCrafts.WebSite.Services
@using WalymossCrafts.WebSite.Models
@inject JsonFileProductService ProductService

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Grid container -->
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var product in ProductService.GetProducts())
        {
            <div class="col">
                <div class="card h-100">
                    <img src="@product.Image" class="card-img-top" alt="@product.Title">
                    <div class="card-body">
                        <h5 class="card-title">@product.Title</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <button @onclick="(e => SelectProduct(product.Id))"
                                    data-toggle="modal" data-target="#productModal" class="btn btn-primary">
                                More Info
                            </button>
                        </small>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@if (selectedProduct != null)
{
    <div class="modal @(IsModalVisible ? "show" : "fade")" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productTitle" aria-hidden="!IsModalVisible" style="display: @(IsModalVisible ? "block" : "none");">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productTitle">@selectedProduct.Title</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" @onclick="CloseModal"></button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-img" style="background-image: url('@selectedProduct.Image');">
                        </div>
                        <div class="card-body">
                            <p class="card-text">@selectedProduct.Description</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @if (voteCount == 0)
                    {
                        <span>Be the first to vote!</span>
                    }
                    else
                    {
                        <span>@voteCount @voteLabel</span>
                    }
                    @for (int i = 1; i <= 5; i++)
                    {
                        if (i <= currentRating)
                        {
                            <span class="fa fa-star checked" @onclick="(e => SubmitRating(i))"></span>
                        }
                        else
                        {
                            <span class="fa fa-star" @onclick="(e => SubmitRating(i))"></span>
                        }
                    }


                </div>
            </div>
        </div>
    </div>
}

@code {
    Product selectedProduct;
    string selectedProductId;
    bool IsModalVisible = false;

    void SelectProduct(string productId)
    {
        selectedProductId = productId;
        selectedProduct = ProductService.GetProducts().First(x => x.Id == productId);
        IsModalVisible = true;
        GetCurrentRating();
    }

    double currentRating = 0;
    int voteCount = 0;
    string voteLabel;

    void GetCurrentRating()
    {
        if (selectedProduct.Ratings == null || !selectedProduct.Ratings.Any())
        {
            currentRating = 0;
            voteCount = 0;
        }
        else
        {
            voteCount = selectedProduct.Ratings.Count();
            voteLabel = voteCount > 1 ? "Votes" : "Vote";
            currentRating = selectedProduct.Ratings.Average();
        }
        Console.WriteLine($"Current rating for {selectedProduct.Id}: {currentRating}");
    }

    void SubmitRating(int rating)
    {
        Console.WriteLine($"Rating received for {selectedProduct.Id}: {rating}");
        ProductService.AddRating(selectedProductId, rating);
        GetCurrentRating();
        StateHasChanged(); // Agrega esto para asegurarte de que la interfaz se actualice
    }


    void CloseModal()
    {
        IsModalVisible = false;
    }
}
