@using Microsoft.AspNetCore.Components.Web
@using WalymossCrafts.WebSite.Services
@using WalymossCrafts.WebSite.Models
@inject JsonFileProductService ProductService


<!-- Grid container -->
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var product in ProductService.GetProducts())
        {
            <div class="col">
                <div class="card h-100">
                    <img src="@product.Image" class="card-img-top" alt="@product.Title">
                    <div class="card-body">
                        <h5 class="card-title">@product.Title</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <button @onclick="(e => SelectProduct(product.Id))"
                                    data-toggle="modal" data-target="#productModal" class="btn btn-primary">
                                More Info
                            </button>
                        </small>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@if (selectedProduct != null)
{
    <div class="modal @(IsModalVisible ? "show" : "fade")" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productTitle" aria-hidden="!IsModalVisible" style="display: @(IsModalVisible ? "block" : "none");">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productTitle">@selectedProduct.Title</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" @onclick="CloseModal"></button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-img" style="background-image: url('@selectedProduct.Image');">
                        </div>
                        <div class="card-body">
                            <p class="card-text">@selectedProduct.Description</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- Botones del pie de página del modal, si los necesitas -->
                </div>
            </div>
        </div>
    </div>
}

@code {
    Product selectedProduct;
    string selectedProductId;
    bool IsModalVisible = false;

    void SelectProduct(string productId)
    {
        selectedProductId = productId;
        selectedProduct = ProductService.GetProducts().First(x => x.Id == productId);
        IsModalVisible = true;
    }

    void CloseModal()
    {
        IsModalVisible = false;
    }
}
